<div id="c" class="carousel">
	<ul>
		<li class="slide">
			<img src="img/tees.jpg" alt="" class="slide-img" />
			<h4>Die losen Tees der Saison</h4>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				<a href="…">Zum Tee-Bereich</a>
			</p>
		</li>
		<li class="slide" >
			<img src="img/podcast.jpg" alt="" class="slide-img" />
			<h4>Neue Podcast-Kopfhörer eingetroffen!</h4>
			<p>
				It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
				<a href="…">Zum Kopfhörer-Bereich</a>
			</p>
		</li>
		<li class="slide" >
			<img src="img/weed.jpg" alt="" class="slide-img" />
			<h4>Socken im „Ampel“-Design</h4>
			<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				<a href="…">Zum Socken-Bereich</a>
			</p>
		</li>
	</ul>
</div>

