		{# for item in collections.all | eleventyNavigation -%}
            {%- if item.url -%}
                {%- set isCurrent = (item.url == page.url) -%}
                {%- set isParent = item.url != '/' and item.url in page.url -%}
                <li class="nav__item{% if isCurrent or isParent %} nav__item--active{% endif %}">
                    <a class="nav__link" href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}" {% if isCurrent %} aria-current="page" {% endif %}>
                        {{ item.title }}
                    </a>
                </li>
            {%- endif -%}
        {%- endfor -#}

<nav aria-label="Haupt" class="aufklapp-bereich nav-main" id="nav-main">
	<button class="aufklapp-button" id="main-nav-toggle">{{text}}</button>
	<ul class="aufklapp-bereich">
		<li><a class="sektion" href="#" id="item1">Teesorten</a>
			<button class="aufklapp-button expando-trigger" aria-expanded="false" aria-labelledby="item1">v</button>
			<div class="aufklapp-bereich">Expando mit <a href="#">Tabstop</a></div>
		</li>
		<li><a class="sektion" href="#" id="item2">Socken</a>
			<button class="aufklapp-button expando-trigger" aria-expanded="false" aria-labelledby="item2">v</button>
			<div class="aufklapp-bereich">Expando mit <a href="#">Tabstop</a></div>
		</li>
		<li><a class="sektion" href="#" id="item3">Kopfhörer</a>
			<button class="aufklapp-button expando-trigger" aria-expanded="false" aria-labelledby="item3">v</button>
			<div class="aufklapp-bereich">Expando mit <a href="#">Tabstop</a></div>
		</li>
		<li><a class="sektion" href="#" id="item4">Armreife</a>
			<button class="aufklapp-button expando-trigger" aria-expanded="false" aria-labelledby="item4">v</button>
			<div class="aufklapp-bereich">Expando mit <a href="#">Tabstop</a></div>
		</li>
		<li><a class="sektion" href="#" id="item5">Smartphone-Hüllen</a>
			<button class="aufklapp-button expando-trigger" aria-expanded="false" aria-labelledby="item5">v</button>
			<div class="aufklapp-bereich">Expando mit <a href="#">Tabstop</a></div>
		</li>
	</ul>
</nav>

