<div class="price-wrapper">

	<h3>Lorem Podcaster Max</h3>

	<p>Over-Ear-Kopfhörer mit aktiver Geräuschunterdrückung.</p>
	<p><em>Lieferbar: Übermorgen</em></p>

	<span>
    <span class="visually-hidden">Reduzierter Preis:</span>
    €20,99
  </span>
	<s>
		<span class="visually-hidden">Alter Preis:</span>
		€32,99
	</s>
</div>
