<button id="main-search-toggle" class="aufklapp-button">Suche</button>
<form role="search" class="aufklapp-bereich">
	<label for="search" class="visually-hidden">Shopweite Suche</label>
	<input id="search" name="s" />
</form>
